# firebase
GoogleService-Info.plist

# fastlane
build/
fastlane/report.xml

# xcode
xcuserdata/

# xcode: Ignore preview files that might contain personal data
Stacks/Preview Content/personal/preview-pins.json
